.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #431e6a;
  padding: 20px;
  color: white;
}

.brand h1 {
  font-size: 24px;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}
