<div class="mb-3 input-wrapper">
    <label for="inputField" class="form-label">{{ label }}</label>
    <div class="input-group">
        <input
            [type]="showPassword && type === 'password' ? 'text' : type"
            class="form-control" 
            id="inputField" 
            placeholder="{{ placeholder }}" 
            [value]="value"
            (input)="onInput($event)" />
        <span class="input-group-text" (click)="togglePasswordVisibility()" *ngIf="type === 'password'">
            <i [ngClass]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </span>
    </div>
</div>