.container {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    ul {
        display: grid;
        gap: 15px;
        padding: 0;
        list-style: none;
        width: 80%;
        justify-content: center;
    }
}


.container.scrollable {
    align-items: flex-start;
}

// 1 item → Centralizado
.grid-one {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        width: 50%;
    }
}

// 2 itens → Lado a lado
.grid-two {
    grid-template-columns: repeat(2, 1fr);
}

// 3 itens → 2 em cima e 1 centralizado abaixo
.grid-three {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;


}

// 4 itens → Grade 2x2
.grid-four {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

li {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 15rem;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 89px;
        height: 88px; 
        object-fit: cover;
        border-radius: 100px;

    }

    .card-body {
        margin-top: 0.25rem;
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-active{
        color: green;
        font-weight: 600;
        margin: 0;
    }

    .card-title {
        margin: 0.50rem 0 0 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        font-family: Lexend Deca;
        color: black;
    }

    .badge {
        color: #5b5b5e;
        margin: 0.50rem 0 0 0;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 0.9rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: Poppins;
        border: 1px #8B8B8E solid;
    }

    .price {
        margin: 0.35rem 0 0 0;
        font-size: 1.4rem;
        font-weight: bold;
        color: black;
    }

    .billing-date {
        margin: 10px 0 0;
        font-size: 0.9rem;
        color: #666;

        i {
            color: #212529;
        }
    }
}

.disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border: 2px dashed #ccc;
    cursor: pointer;
    width: 150px;
    height: 200px;
    transition: 0.3s;

    &:hover {
        background-color: #e3e3e3;
    }
}

.add-icon {
    font-size: 50px;
    color: #777;
    font-weight: bold;
}

/* Estilos do Modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.choiceBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        gap: 1rem;

        .button-box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
                height: 200px;
                
            
                    
                 .btn-one{  
                        border-radius: 10px;
                        background-color: #6b1a9b;
                        width: 100%;
                        height: 100%;
                        font-family: Roboto;
                }

                .btn-two{  
                        border-radius: 10px;
                        background-color: #9124ab;
                        width: 100%;
                        height: 100%;
                        font-family: Roboto;
                }
            img{
                width: 3rem;
            }

        }
}
.modal-forms{
    display: none;
}

.modal-body{

    display: flex;
    justify-content: center;
    
    .card-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.25rem;
        
    }

    
    button {
        text-decoration: none;
        background: none;
        border: 1px solid black;
        

            &:focus,
            &:active {
            
                background: blue;
            
            }
    }

    ul{
        text-align: center;
        padding: 0;
        overflow: hidden;

    }

    li{
        display: inline-block;
    }

}

::ng-deep {
    ngb-modal-window.modal-centralizado {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    ngb-modal-window.modal-centralizado .modal-dialog {
        margin: 0 !important;
    }
}