<div *ngIf="loading">Carregando...</div>


<div *ngIf="!loading && !error">

    
    <div class="container" *ngIf="signatures.length > 0; else emptyMessage">
        <ul>
            <li *ngFor="let signature of signatures">
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW4zvfRq0Vpjxlzu2Wvx_L7nJNdzy_d9Mx8g&s">
                    <div class="card-body">
                        <h4 class="card-title">{{signature.name}}</h4>
                        <p class="card-text">{{signature.category}}</p>
                        <p class="card-text">{{signature.price}}</p>
                        <p class="card-text">{{signature.billingDate}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #emptyMessage>
        <p>Você não possui nenhuma assinatura.</p>
    </ng-template>
</div>

<div *ngIf="error">Ocorreu um erro ao buscar as assinaturas.</div>