

<div>
    <div [ngClass]="{'container': true, 'scrollable': isScrollable}">
        <ul [ngClass]="getGridClass()">
            <li *ngFor="let signature of signatures">
                <div class="card">
                    
                    <img class="card-img-top" [src]="signature.imageUrl" alt="Imagem da categoria">
                     
                    <p *ngIf="signature.active; else inactivetemplate" class="card-active">Status: Ativo </p>

                    <ng-template #inactivetemplate>
                        <p class="card-active">Status: Inativo </p>
                    </ng-template>


                    <h4 class="card-title">{{ signature.name }}</h4>
                    <p class="billing-date">
                         Cobrança todo dia {{ getBillingDay(signature.billingDate) }}
                    </p>
                    <div class="card-body">
                        <span class="badge">
                            <i class="bi bi-display"></i>    {{ signature.category }}
                        </span>

            
                        <p class="price">R$ {{ signature.price }}</p>
            

                        <i class="bi bi-pencil-square" (click)="openEditModal(content, signature)"></i>
                        <i class="bi bi-x-circle" (click)="deleteSignature(signature)"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="card add-card" (click)="openModal(content)">
                    <div class="add-icon">+</div>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #emptyMessage>
        <p>Você não possui nenhuma assinatura.</p>
    </ng-template>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            {{ isEditMode ? 'Editar Assinatura' : 'Adicionar Assinatura' }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form #signatureForm="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" id="name" class="form-control" [(ngModel)]="selectedSignature.name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoria</label>
                <input type="text" id="category" class="form-control" [(ngModel)]="selectedSignature.category"
                    name="category" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Preço</label>
                <input type="number" id="price" class="form-control" [(ngModel)]="selectedSignature.price" name="price"
                    required>
            </div>
            <div class="mb-3">
                <label for="billingDate" class="form-label">Data de Cobrança</label>
                <input type="date" id="billingDate" class="form-control" [(ngModel)]="selectedSignature.billingDate"
                    name="billingDate" required>
            </div>
            <div class="mb-3">
                <label for="signatureImageCode" class="form-label">Escolha uma Imagem</label>
                <select id="signatureImageCode" class="form-control" [(ngModel)]="selectedSignature.signatureImageCode"
                    name="signatureImageCode" required>
                    <option *ngFor="let signature of availableSignatures" [value]="signature.name">
                        {{ signature.name }}
                    </option>
                </select>
            </div>

            <div *ngIf="selectedSignature.signatureImageCode">
                <img [src]="getImageUrl(selectedSignature.signatureImageCode)" alt="Prévia da Imagem" width="100">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="isEditMode ? editSignature() : addSignature()">
            {{ isEditMode ? 'Salvar Alterações' : 'Adicionar Assinatura' }}
        </button>
    </div>
</ng-template>