<app-form-layout
    title="Entre na sua conta"
    primaryBtnText="Entrar agora"
    secondaryBtnText="Registrar agora"
    (submit)="submit()"
    (navigate)="navigate()"
>
<form [formGroup]="loginForm">

    <app-input-box
    formControlName="email"
    inputName="email"
    type="email"
    label="Email:"
    placeholder="guilherme@email.com">
    <i class="bi bi-envelope text-dark"></i>
    </app-input-box>

    <app-input-box
    formControlName="password"
    inputName="password"
    type="password"
    label="Sua senha:">
    <i class="bi bi-eye-slash text-dark"></i>
    </app-input-box>

</form>
</app-form-layout>
