.home-container {
  background-color: #431e6a;
  min-height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    max-content
  ); /* Apenas duas colunas por linha */
  gap: 5.5rem; /* Espaçamento entre os cards */
  padding: 20px;
  justify-content: center; /* Centraliza os cards no container */
}

.fixed-card {
  border-radius: 10px;
  max-width: 100%; /* Garante que não exceda a largura do container */
  background-color: #f5f5f5; /* Cor de fundo do card */
  border: 1px solid #ccc; /* Borda do card */
  display: flex; /* Flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px; /* Adiciona um pouco de espaçamento interno */
}

.add-button {
  padding: 10px 20px; /* Estilização do botão */
  background-color: #431e6a; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remover borda do botão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte do botão */
}
